<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BotUsername" value="username" />
    <add key="BotAccessToken" value="twitchtoken" />
    <add key="ChannelToJoin" value="username" />
    <add key="ChatCommandPrefix" value="!" />
  </appSettings>
</configuration>